# EDA and Feature Engineering

##  Importing packages

In [83]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [84]:
df=pd.read_csv("datasets/restaurants_L2_dirty.csv", index_col=[0])
df.head()

      name                      addr         city       phone          type
0   kokomo         6333 w. third st.           la  2139330773      american
1   feenix   8358 sunset blvd. west     hollywood  2138486677      american
2  parkway      510 s. arroyo pkwy .     pasadena  8187951001   californian
3     r-23          923 e. third st.  los angeles  2136877178      japanese
4    gumbo         6333 w. third st.           la  2139330358  cajun/creole

## Exploring the data

In [85]:
df.shape

(82, 5)

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82 entries, 0 to 81
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    82 non-null     object
 1   addr    82 non-null     object
 2   city    82 non-null     object
 3   phone   82 non-null     int64
 4   type    82 non-null     object
dtypes: int64(1), object(4)
memory usage: 3.8+ KB

In [87]:
df.describe

<bound method NDFrame.describe of           name                       addr               city       phone  \
0       kokomo          6333 w. third st.                 la  2139330773
1       feenix    8358 sunset blvd. west           hollywood  2138486677
2      parkway       510 s. arroyo pkwy .           pasadena  8187951001
3         r-23           923 e. third st.        los angeles  2136877178
4        gumbo          6333 w. third st.                 la  2139330358
..         ...                        ...                ...         ...
77       feast        1949 westwood blvd.            west la  3104750400
78    mulberry        17040 ventura blvd.             encino  8189068881
79  matsuhissa   129 n. la cienega blvd.       beverly hills  3106599639
80     jiraffe      502 santa monica blvd       santa monica  3109176671
81    martha's  22nd street grill 25 22nd  st. hermosa beach  3103767786

            type
0       american
1       american
2    californian
3       japanese
4   cajun/creole
..           ...
77       chinese
78         pizza
79         asian
80   californian
81      american

[82 rows x 5 columns]>

In [88]:
df.dtypes

name     object
addr     object
city     object
phone     int64
type     object
dtype: object

In [89]:
df.isnull().sum()

name     0
addr     0
city     0
phone    0
type     0
dtype: int64

In [90]:
df.type.unique()

array(['american', 'californian', 'japanese', 'cajun/creole', 'hot dogs',
       'diners', 'delis', 'hamburgers', 'seafood', 'italian',
       'coffee shops', 'russian', 'steakhouses', 'mexican/tex-mex',
       'noodle shops', 'mexican', 'middle eastern', 'asian', 'vietnamese',
       'health food', 'american ( new )', 'pacific new wave',
       'indonesian', 'eclectic', 'chicken', 'fast food', 'southern/soul',
       'coffeebar', 'continental', 'french ( new )', 'desserts',
       'chinese', 'pizza'], dtype=object)

In [91]:
df.phone.unique()

array([2139330773, 2138486677, 8187951001, 2136877178, 2139330358,
       2139314223, 2136276879, 2125827200, 2134838050, 2139355280,
       8185081570, 3103061995, 2129666960, 3104525728, 3103975703,
       3102767732, 3108541111, 8189056515, 3108598744, 2132652887,
       2127549494, 3108294313, 8187967829, 2137820181, 8054984049,
       3102084444, 8185850855, 2126204020, 8187621221, 3104792231,
       3106435229, 2136265530, 8187067706, 3103995811, 8187952478,
       2136512866, 3104510843, 8183082128, 3108880108, 3104757564,
       3102461501, 3108151290, 3105401222, 3105508811, 2136559045,
       3108287937, 3104582889, 2127581479, 3104237327, 2136513361,
       2136283781, 3103991955, 2134808668, 3102760615, 3103067829,
       2124966031, 2134677678, 2123622200, 3106523100, 3103976654,
       2136121580, 3104753585, 3107882306, 8185632252, 3104704992,
       2136651891, 3104566299, 2123191660, 3105969556, 2139388800,
       3102040692, 2123557555, 8188865679, 3102741893, 2139381447,
       2136272300, 3102091422, 3104750400, 8189068881, 3106599639,
       3109176671, 3103767786], dtype=int64)

In [92]:
df.city.unique()

array(['la', 'hollywood', 'pasadena', 'los angeles', 'new york',
       'studio city', 'venice', 'santa monica', 'mar vista',
       'beverly hills', 'w. hollywood', 'encino', 'st. boyle hts .',
       'westlake village', 'westwood', 'west la', 'chinatown',
       'monterey park', 'rancho park', 'redondo beach', 'long beach',
       'marina del rey', 'culver city', 'burbank', 'century city',
       'malibu', 'seal beach', 'northridge', 'st. hermosa beach'],
      dtype=object)

In [93]:
cities={'studio city':'los angeles', 'santa monika':'los angeles', 'mar vista':'los angeles', 'beverly hills':'los angeles', 'encino':'los angeles', 'st. boyle hts .':'los angeles', 'westwood':'los angeles', 'chinatown':'los angeles', 'moterey park':'los angeles', 'rancho park':'los angeles', 'redondo beach':'los angeles', 'century city':'los angeles', 'marina del rey':'los angeles', 'malibu':'los angeles', 'seal beach':'los angeles', 'northridge':'los angeles','st. hermosa beach':'los angeles'}

In [94]:
df.city=df.city.replace(cities)
df.city.head(30)

0                   la
1            hollywood
2             pasadena
3          los angeles
4                   la
5                   la
6                   la
7             new york
8                   la
9                   la
10         los angeles
11              venice
12            new york
13        santa monica
14         los angeles
15         los angeles
16        w. hollywood
17         los angeles
18         los angeles
19         los angeles
20            new york
21        santa monica
22            pasadena
23                  la
24    westlake village
25         los angeles
26         los angeles
27            new york
28         los angeles
29             west la
Name: city, dtype: object

In [98]:
df.city=np.where(df.city.str.contains('la')|df.city.str.contains('hollywood'),'los angeles', df['city'])
df.city.unique()

array(['los angeles', 'pasadena', 'new york', 'venice', 'santa monica',
       'monterey park', 'long beach', 'culver city', 'burbank'],
      dtype=object)