# EDA and Feature Engineering

##  Importing packages

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df=pd.read_csv("datasets/restaurants_L2_dirty.csv", index_col=[0])
df.head()

      name                      addr         city       phone          type
0   kokomo         6333 w. third st.           la  2139330773      american
1   feenix   8358 sunset blvd. west     hollywood  2138486677      american
2  parkway      510 s. arroyo pkwy .     pasadena  8187951001   californian
3     r-23          923 e. third st.  los angeles  2136877178      japanese
4    gumbo         6333 w. third st.           la  2139330358  cajun/creole

## Exploring the data

In [4]:
df.shape

(82, 5)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82 entries, 0 to 81
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    82 non-null     object
 1   addr    82 non-null     object
 2   city    82 non-null     object
 3   phone   82 non-null     int64
 4   type    82 non-null     object
dtypes: int64(1), object(4)
memory usage: 3.8+ KB

In [6]:
df.describe()

              phone
count  8.200000e+01
mean   3.541943e+09
std    2.072825e+09
min    2.123192e+09
25%    2.136582e+09
50%    3.103872e+09
75%    3.107562e+09
max    8.189069e+09

In [7]:
df.dtypes

name     object
addr     object
city     object
phone     int64
type     object
dtype: object

In [8]:
df.isnull().sum()

name     0
addr     0
city     0
phone    0
type     0
dtype: int64

In [9]:
df.type.unique()

array(['american', 'californian', 'japanese', 'cajun/creole', 'hot dogs',
       'diners', 'delis', 'hamburgers', 'seafood', 'italian',
       'coffee shops', 'russian', 'steakhouses', 'mexican/tex-mex',
       'noodle shops', 'mexican', 'middle eastern', 'asian', 'vietnamese',
       'health food', 'american ( new )', 'pacific new wave',
       'indonesian', 'eclectic', 'chicken', 'fast food', 'southern/soul',
       'coffeebar', 'continental', 'french ( new )', 'desserts',
       'chinese', 'pizza'], dtype=object)

In [11]:
df.city.unique()

array(['la', 'hollywood', 'pasadena', 'los angeles', 'new york',
       'studio city', 'venice', 'santa monica', 'mar vista',
       'beverly hills', 'w. hollywood', 'encino', 'st. boyle hts .',
       'westlake village', 'westwood', 'west la', 'chinatown',
       'monterey park', 'rancho park', 'redondo beach', 'long beach',
       'marina del rey', 'culver city', 'burbank', 'century city',
       'malibu', 'seal beach', 'northridge', 'st. hermosa beach'],
      dtype=object)

# Cleaning the data

In [20]:
rows=[]
for i in df.phone:

NameError: name 'count' is not defined